# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
MANIFEST

# Various Caches
.*cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*

# Sphinx documentation
docs/_build/

# mypy
.dmypy.json
dmypy.json
